<!DOCTYPE html>
<html><head>
  <title> WSD </title>
    <meta charset="utf-8">

 
 
    <link rel="stylesheet" href="static/css/live.css" />
    <link rel="stylesheet" href="static/css/loader.css" />
    <script src="/static/lib/jquery-1.7.min.js"></script>

    <link rel="stylesheet" href="/static/redactor/redactor.css" />
    <script src="/static/redactor/redactor.js"></script>
    <script src="/static/lib/jquery.cookie.js"></script>

    <style type="text/css">
	body .redactor_toolbar li a.redactor_btn_button1 {
		background: url(/static/img/button1.png) no-repeat;
	}
	</style>
	
	<script type="text/javascript">
	
	function testButton(obj, event, key)
	{
		obj.execCommand('underline');
	}
	
	$(document).ready(
		function()
		{

			
			$('#123').redactor({
				focus: true, 
				buttonsAdd: ['|', 'button1'], 
				buttonsCustom: {
					button1: {
						title: 'Disambiguate', 
						callback: function(obj)
						{
							$("#loader").show()
							var text = $('#123').val();
							var selected_word = $('#123').getSelected();
							//alert(selected_word);
							$.cookie('status',"Sending Request")
							$.ajax({
								type: "POST",
								url: "/doWSD/",
								data: {wsdText: text, wsdWord : selected_word },
								cache: false,
								beforeSend: function(){
									setInterval("showStatus();",2000); 
									
								},
								success: function(html){
									$("#loader").hide()
									$("#response").html(html);
								}
								});
						}
                     
					} 
				}  
			});	
$('.redactor_btn_button1').addClass("testbu");		
		
		}
	);
function showStatus(){
	$(".triggerFull").html($.cookie('status'));
}
	</script>				

</head>
<body>
{% block content %}
{% endblock %}
	<div id="page">

		<textarea id="123" name="content">
			 went fishing for some sea bass.
		</textarea>

</br></br>
<div id="loader" style="display:none">
	<div class="circle"></div>
	<div class="circle1"></div>
	

{% if messages %}
<ul class="messages" style="color:white">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

	
	<div href="#" class="triggerFull">Fetching web pages</div>
</div>
<div id="response"></div>
</body></html>